
#viewImagem{
  width:400px;
  margin-right:10px;
  margin-left:60px;
  margin-top:10px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
  
}

#Bottom,#icon{
width:40px;
height:40px; 
position:absolute;
top:5px;


border-top-left-radius: 18px; 
border-top-right-radius: 18px; 
border-bottom-left-radius: 18px; 
border-bottom-right-radius: 18px;

}
#icon{
width:20px;
  height:20px;
  position:absolute;
  top:7px;
}



#Fotografia{
 background:#ffffff;
  width:370px;
  height:470px; 
  display: block;
  position:relative;
  top:20px;
  left:15px;

}
#Foto{
width:370px;
height:470px; 

}







/*----Campo de pesquisa da imagem*/


#Borda {
  background:#0096ff;
  width:420px;
  height:50px; 
  position:absolute;
  top:10px;
  left:10px;
border-top-left-radius: 16px; 
border-top-right-radius: 30px; 
border-bottom-left-radius: 16px; 
border-bottom-right-radius: 30px;
}





#form1 {
  background:#d8d7d7;
  width:400px;
  height:510px; 
  display: block;
  position:absolute;
  top:50px;
  left:100px;
  
  
border-top-left-radius: 10px; 
border-top-right-radius: 10px; 
border-bottom-left-radius: 10px; 
border-bottom-right-radius: 10px; 
}

#form2 {
  background:#d8d7d7;
  width:440px;
  height:510px; 
  display: block;
  position:absolute;
  top:50px;
  left:510px;
  
  
border-top-left-radius: 10px; 
border-top-right-radius: 10px; 
border-bottom-left-radius: 10px; 
border-bottom-right-radius: 10px; 
}




#Nome{
 width:250px;
  height:30px;
  background:#e2e2e2;
  margin-left:10px;
  margin-top:10px;
  border:2px solid #ccc;
  
  font-family:'Open Sans',sans-serif;
  color:#999999;
  left:10px;
  
  border-top-left-radius: 16px; 
border-top-right-radius: 16px; 
border-bottom-left-radius: 16px; 
border-bottom-right-radius: 16px;
  
}



#Nome_foto,
#Data_foto,
#Status_foto,
#Fotografo,
#Creditos,
#Tags{

 width:360px;
  height:30px;
  background:#e2e2e2;
  margin-left:10px;
  margin-top:10px;
  border:2px solid #ccc;
  
  font-family:'Open Sans',sans-serif;
  color:#999999;
  text-align:center;
  
  border-top-left-radius: 16px; 
border-top-right-radius: 16px; 
border-bottom-left-radius: 16px; 
border-bottom-right-radius: 16px;
}


#Nome_foto,
#Data_foto,
#Status_foto,
#textarea_foto,
#Fotografo,
#Creditos,
#Tags{
position:relative;
left:10px;
top:60px;
}

#textarea_foto{
 margin-top:10px;
 width:370px;
 height:150px;
}


#Editar,#Enviar{

width:80px;
height:30px;
margin-left:80px;
  background:#0096ff;
  border:0;
  padding:1%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  text-align:center;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
  
 
  float:right;
  border-top-left-radius: 16px; 
border-top-right-radius: 16px; 
border-bottom-left-radius: 16px; 
border-bottom-right-radius: 16px;
}


#Enviar{

position:absolute;
top:470px;
left:240px;


}

#Editar{
position:relative;
  top:11px;
  right:20px;
  }


#Editar:hover,#Enviar:hover
     {
     background:#0278cb;
	 text-align:center;
  }
  
  
  /*--------------Teste respan-------------*/



@media screen and (max-width: 980px) {

 #login {

        width: 94%;

    }

    #form1 {

        width: 65%;

    }

#Nome_foto,
#Data_foto,
#Empresa,
#Fotografo,
#Creditos,
#Tags {

        width: 55%;

    }

}




@media screen and (max-width: 700px) {

 

    #Login {

        width: auto;

        float: none;

    }

    #form1 {

        width: auto;

        float: none;

    }

 

}




@media screen and (max-width: 480px) {

 

    #Login {

        height: auto;

    }

   
    }

    #form2{

        position:absolute;
		float:left;

    }

 

}
  
 