@import url(http://fonts.googleapis.com/css?family=Muli);
.defaultSelect {
	background-color: #42CC62;
}
.exit a{
	
}
.validacoes {
	color: red;
	font-weight: 400;
	margin-left: 30px;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages,
	.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
	.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev,
	.ui-paginator .ui-paginator-current {
	display: inline-block !important;
	padding: 0px 6px !important;
	zoom: 1 !important;
	margin-left: 1px !important;
	margin-right: 1px !important;
	text-decoration: none !important;
	outline: none !important;
}

.ui-widget-header {
	border: 0px !important;
	background: #c4c4c4
		url("/Ed/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.jsf?ln=primefaces-aristo")
		50% 50% repeat-x;
	background: #c4c4c4 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #c4c4c4
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #c4c4c4 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	color: #333;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	padding: 0px 11px !important;
	overflow: auto !important;
	border-width: 1px !important;
	border-style: groove !important;
}

div#j_idt20:artigos_paginator_bottom {
	visibility: hidden
}

.ui-datalist .ui-datalist-header, .ui-datalist .ui-datalist-footer {
	text-align: center;
	padding: 0px 10px !important;
}

.ui-widget-content {
	border: 0px !important;
	background: #ffffff;
	color: #4f4f4f;
}

a:hover, a:focus {
	color: #42CC62 !important;
}

#logotipo {
	text-align: right;
}

#conteinerArtigos {
	width: 750px;
	margin-left: 270px;
}

#conteinerArtigosBotoes {
	width: 600px;
}

body {
	background-color: #F5F5F5 !important;
}

body, td, th {
	font-family: 'Muli', sans-serif;
	font-size: 13px;
}

);
min-height








:









25
px









;
padding





:






3
px









;
}
img {
	border: 0px;
}

#container {
	width: 100%;
	height: 100%;
	margin: 0 auto
}

#titulo {
	float: left;
	font-size: 25pt;
	font-variant: small-caps;
	font-weight: bold;
}

#barra_menu {
	min-height: 25px;
	padding: 3px;
	clear: both;
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;
}

#rodape {
	height: 100px;
	margin-top: 5px;
	padding: 10px;
	position: absolute;
	text-align: center;
}

#listarUsuarios {
	background: #eee;
	width: 300px;
	height: auto;
	float: left;
}

#ListagemImagens img {
	width: 100px !important;
	height: 100px !important;
}

#listarPublicacoes {
	background: #eee;
	width: 500px;
	height: auto;
	float: left;
}

#listarPermissoes {
	background: #c00;
	width: 200px;
	height: auto;
	float: left;
}

#imageView {
	border: 2px;
	width: 400px;
	height: 470px;
	display: block;
	position: absolute;
	left: 510px;
}

#imageDesc {
	padding-top: 56px;
	width: 400px;
	height: 470px;
	display: block;
	position: absolute;
	left: 100px;
}

.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal, .error {
	font-weight: bold;
	color: red;
}

.list-groups {
	float: center;
	width: 500px;
	margin-left: 150px;
	margin-top: 150px;
}

#inputs {
	margin-left: 100px;
}

#Fotografia {
	background: #ffffff;
	width: 370px;
	height: 435px;
	display: block;
	position: relative;
	top: 20px;
	left: 15px;
}

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@import url(http://fonts.googleapis.com/css?family=Abel);

#cssmenu {
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	line-height: 15px;
	margin-top: 3px;
}

#cssmenu>ul {
	width: auto;
	height: 42px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #ffffff;
}

#cssmenu>ul li#responsive-tab {
	display: none;
	/* Hide for large screens */
}

#cssmenu>ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

#cssmenu>ul li.right {
	float: right;
}

#cssmenu>ul li.has-sub {
	position: relative;
	z-index: 1000;
}

#cssmenu>ul li.has-sub:hover ul {
	display: block;
}

#cssmenu>ul li.has-sub ul {
	display: none;
	width: 141px;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #ffffff;
	border: 1px solid #ffffff;
	border-bottom: 3px solid #d9ced2;
	border-top: 0 none;
}

#cssmenu>ul li.has-sub ul li {
	display: block;
}

#cssmenu>ul li.has-sub>a {
	background-repeat: no-repeat;
	background-position: 90% -95%;
}

#cssmenu>ul li.has-sub>a.active, #cssmenu>ul li.has-sub>a:hover {
	background: #ebedfa url('images/caret.png') no-repeat;
	background-position: 90% 195%;
}

#cssmenu>ul li a {
	display: block;
	padding: 12px 24px 11px 24px;
	text-decoration: none;
	color: #6F6F6F;
	text-shadow: 0px 1px 0px #fff;
}
.exit>ul li a {
	display: block;
	padding: 12px 24px 11px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
}

#cssmenu li:hover, #cssmenu .active {
	text-decoration: none;
	border-bottom: 4px solid #42CC62;
	transition: all .12s ease-in-out;
}

#cssmenu li:hover a {
	color: #000000;
	transition: all .12s ease-in-out;
}

@media ( max-width : 600px) {
	#cssmenu>ul {
		width: 100%;
	}
	#cssmenu>ul li#responsive-tab {
		display: block;
	}
	#cssmenu>ul li#responsive-tab a {
		background: url('images/menu.png') no-repeat;
		background-position: 95% -35%;
	}
	#cssmenu>ul li#responsive-tab a:hover {
		text-decoration: none;
		border-bottom: 2px solid #42CC62;
	}
	#cssmenu>ul li {
		display: none;
	}
	#cssmenu>ul li.right {
		float: none;
	}
	#cssmenu>ul li.has-sub {
		position: relative;
	}
	#cssmenu>ul li.has-sub ul {
		display: block;
		position: static;
		width: 100%;
		background: #ffffff;
		border: 0 none;
	}
	#cssmenu>ul li.has-sub ul li {
		display: block !important;
	}
	#cssmenu>ul li.has-sub ul li a span {
		display: block;
		padding-left: 24px;
	}
	#cssmenu>ul li.has-sub>a {
		background-image: none;
	}
	[class^="ico-"]:before {
		content: " ";
		width: 10px;
		height: 10px;
		display: inline-block;
		vertical-align: middle;
		font-family: 'Muli', sans-serif;
	}
	.icon-home:before {
		content: '\f015';
	}
}
/* Make sure they show even if hidden in mobile view by JS */
@media ( min-width : 600px) {
	#cssmenu>ul>li.collapsed {
		display: inline-block !important;
		*display: inline;
		zoom: 1;
	}
	#cssmenu>ul ul li.collapsed {
		display: block !important;
	}
}

body {
	background: #ffffff;
	font-family: 'Muli', sans-serif;
}

#conteinerCadastro {
	height: 550px;
	left: 500px;
	position: absolute;
	transition: opacity 1s;
	webkit-transition: opacity 1s;
	width: 390px;
}

#conteiner {
	float: left;
}

#rotulo {
	color: #0278cb;
	font-family: 'Muli', sans-serif;
	font-size: 30px;
	position: relative;
	text-align: center;
	top: 15px;
	margin-left: -15px;
}

#forms {
	margin-top: 30px;
}

#imageDesc input[type='text'] {
	background: #ffffff;
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 25px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 350px;
	border-radius: 0px;
}

#imageDesc input[type='submit'] {
	border: 2px solid #ccc;
	background: #d8d7d7;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	padding-left: 10px;
	margin-top: 5px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 150px;
}

/* .fields {
	background: #ffffff;
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Calibri', sans-serif;
	font-size: 14px;
	height: 25px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 350px;
	border-radius: 0px;
}
 */
.fields {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 25px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear .2s, box-shadow linear .2s;
}

#forms textarea {
	background: #ffffff;
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 25px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 350px;
	height: 40px;
	border-radius: 0px;
}

#forms input[type='submit'] {
	border: 2px solid #ccc;
	background: #d8d7d7;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	padding-left: 10px;
	margin-top: 5px;
	margin-left: 219px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 150px;
}

#campos {
	background: #d8d7d7;
	position: relative;
	top: 80px;
}

#listagens {
	width: 750px;
	margin-left: 270px;
}


#areaTexto {
	width: 400px;
	display: block;
	position: absolute;
	left: 32%;
}

.pp-unica {
	background: #ffffff;
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 25px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 150px;
	border-radius: 0px;
}

#areaTexto label {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 300px;
}

#largura input[type='number'] {
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	margin-left: 194px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 150px;
}

#altura input[type='number'] {
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	margin-left: 194px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 150px;
}

#areaTexto input[type='submit'] {
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 150px;
}

#areaTexto textarea {
	background: #ffffff;
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	margin-left: 20px;
	margin-top: 5px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 500px;
	height: 500px;
}

#areaTexto input[type='text'] {
	background: #ffffff;
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	webkit-transition: opacity 1s;
	width: 500px;
}

#campo:focus {
	border: 1px solid #000000;
	online: none;
}

#botao {
	background: #0278cb;
	border: 0;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 100%;
	padding: 1%;
	position: relative;
	right: 20px;
	text-align: center;
	top: 10px;
	transition: background .3s;
	webkit-transition: background .3s;
	width: 30%;
}

#botao:hover {
	background: #0096ff;
	text-align: center;
}

.ttclas {
	position: absolute;
	left: 1024px;
	top: 107px;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages,
	.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
	.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev,
	.ui-paginator .ui-paginator-current {
	padding: -1px 6px!impotant;
}

#conteinerArtigos input[type='submit'] {
	border: 2px solid #ccc;
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	margin-top: 0px;
	webkit-transition: opacity 1s;
	width: 150px;
}

div.upload {
	width: 157px;
	height: 57px;
	background:
		url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
	overflow: hidden;
}

div.upload input {
	display: block !important;
	width: 157px !important;
	height: 57px !important;
	opacity: 0 !important;
	overflow: hidden !important;
}

#descMidia {
	width: 370px;
	height: auto;
	position: relative;
	top: 26px;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #fff;
	-webkit-transition: opacity 1s;
	background: #6C96B3;
}

@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
	background-color: #3e94ec;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

div.table-title {
	display: block;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
}

.table-title h3 {
	color: #fafafa;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Muli', sans-serif;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
  border: 2px solid #ccc;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
  border: 2px solid #ccc;
}