@font-face {
  font-family: "flama-semibold-webfont";
  src: url("type/flama-bolditalic-webfont.eot");
  src: local("?"),
    url("type/flama-semibold-webfont.woff") format("woff"),
    url("type/flama-semibold-webfont.otf") format("opentype"),
	url("type/flama-semibold-webfont.ttf") format("truetype"),
    url("type/flama-semibold-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-medium-webfont";
  src: url("type/flama-medium-webfont.eot");
  src: local("?"),
    url("type/flama-medium-webfont.woff") format("woff"),
    url("type/flama-medium-webfont.otf") format("opentype"),
	url("type/flama-medium-webfont.ttf") format("truetype"),
    url("type/flama-medium-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-bold-webfont";
  src: url("type/flama-bold-webfont.eot");
  src: local("?"),
    url("type/flama-bold-webfont.woff") format("woff"),
    url("type/flama-bold-webfont.otf") format("opentype"),
	url("type/flama-bold-webfont.ttf") format("truetype"),
    url("type/flama-bold-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-semibolditalic-webfont";
  src: url("type/flama-semibolditalic-webfont.eot");
  src: local("?"),
    url("type/flama-semibolditalic-webfont.woff") format("woff"),
    url("type/flama-semibolditalic-webfont.otf") format("opentype"),
	url("type/flama-semibolditalic-webfont.ttf") format("truetype"),
    url("type/flama-semibolditalic-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-bolditalic-webfont";
  src: url("type/flama-bolditalic-webfont.eot");
  src: local("?"),
    url("type/flama-bolditalic-webfont.woff") format("woff"),
    url("type/flama-bolditalic-webfont.otf") format("opentype"),
  url("type/flama-bolditalic-webfont.ttf") format("truetype"),
    url("type/flama-bolditalic-webfont.svg#filename") format("svg");
}


@font-face {
  font-family: "Flama-bold-italic";
  src: url("type/flama-bolditalic-webfont.eot");
  src: local("?"),
    url("type/flama-bolditalic-webfont.woff") format("woff"),
    url("type/flama-bolditalic-webfont.otf") format("opentype"),
  url("type/flama-bolditalic-webfont.ttf") format("truetype"),
    url("type/flama-bolditalic-webfont.svg#filename") format("svg");
}
@font-face {
  font-family: "Flama-condensed-bold";
  src: url("type/flamacondensed-bold-webfont.eot");
  src: local("?"),
    url("type/flamacondensed-bold-webfont.woff") format("woff"),
    url("type/flamacondensed-bold-webfont.otf") format("opentype"),
  url("type/flamacondensed-bold-webfont.ttf") format("truetype"),
    url("type/flamacondensed-bold-webfont.svg#filename") format("svg");
}
@font-face {
  font-family: "Flama-condensed-light";
  src: url("type/flamacondensed-light-webfont.eot");
  src: local("?"),
    url("type/flamacondensed-light-webfont.woff") format("woff"),
    url("type/flamacondensed-light-webfont.otf") format("opentype"),
  url("type/flamacondensed-light-webfont.ttf") format("truetype"),
    url("type/flamacondensed-light-webfont.svg#filename") format("svg");
}
@font-face {
  font-family: "flamaextrabold-italic";
  src: url("type/flama-extrabolditalic-webfont.eot");
  src: local("?"),
    url("type/flama-extrabolditalic-webfont.woff") format("woff"),
    url("type/flama-extrabolditalic-webfont.otf") format("opentype"),
  url("type/flama-extrabolditalic-webfont.ttf") format("truetype"),
    url("type/flama-extrabolditalic-webfont.svg#filename") format("svg");
}
@font-face {
  font-family: "Flama-medium-italic";
  src: url("type/flamamedium-italic-webfont.eot");
  src: local("?"),
    url("type/flamamedium-italic-webfont.woff") format("woff"),
    url("type/flamamedium-italic-webfont.otf") format("opentype"),
  url("type/flamamedium-italic-webfont.ttf") format("truetype"),
    url("type/flamamedium-italic-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-basic";
  src: url("type/flama-basic-webfont.eot");
  src: local("?"),
    url("type/flama-basic-webfont.woff") format("woff"),
    url("type/flama-basic-webfont.otf") format("opentype"),
  url("type/flama-basic-webfont.ttf") format("truetype"),
    url("type/flama-basic-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-basicitalic";
  src: url("type/flama-basicitalic-webfont.eot");
  src: local("?"),
    url("type/flama-basicitalic-webfont.woff") format("woff"),
    url("type/flama-basicitalic-webfont.otf") format("opentype"),
  url("type/flama-basicitalic-webfont.ttf") format("truetype"),
    url("type/flama-basicitalic-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-semibold";
  src: url("type/flama-semibold-webfont.eot");
  src: local("?"),
    url("type/flama-semibold-webfont.woff") format("woff"),
    url("type/flama-semibold-webfont.otf") format("opentype"),
  url("type/flama-semibold-webfont.ttf") format("truetype"),
    url("type/flama-semibold-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-semibold-italic";
  src: url("type/flama-semibold-webfont.eot");
  src: local("?"),
    url("type/flama-semibolditalic-webfont.woff") format("woff"),
    url("type/flama-semibolditalic-webfont.otf") format("opentype"),
  url("type/flama-semibolditalic-webfont.ttf") format("truetype"),
    url("type/flama-semibolditalic-webfont.svg#filename") format("svg");
}

@font-face {
  font-family: "flama-medium";
  src: url("type/flama-medium-webfont.eot");
  src: local("?"),
    url("type/flama-medium-webfont.woff") format("woff"),
    url("type/flama-medium-webfont.otf") format("opentype"),
  url("type/flama-medium-webfont.ttf") format("truetype"),
    url("type/flama-medium-webfont.svg#filename") format("svg");
}


@font-face {
  font-family: "flamamedium-italic";
  src: url("type/flamamedium-italic-webfont.eot");
  src: local("?"),
    url("type/flamamedium-italic-webfont.woff") format("woff"),
    url("type/flamamedium-italic-webfont.otf") format("opentype"),
  url("type/flamamedium-italic-webfont.ttf") format("truetype"),
    url("type/flamamedium-italic-webfont.svg#filename") format("svg");
}

#tlLogin {width: 1000px; /*border: 1px solid red;*/ margin: 0 auto; overflow: hidden; margin-top: 35px;}
.lado1-login {/*border: 1px solid;*/ width: 635px; float: left;}
.lado1-login h1 {font-family: arial; color: #0076bd; font-family: flama-semibolditalic-webfont; font-size: 28px; margin:55px 0 25px 0;}
.corD {color: #666666}
.lado1-login p {font-family: arial; color: #7e807a; line-height: 21px; margin: 0 0 40px 0;}
.Alogin {width: 335px; /*border: 1px solid blue;*/ float: right; }
.banner-login {width: 583px; height: 317px; background: #bababa}
.cx-acesso {border-top: 5px solid #0076bc; width: 315px; height: 350px; background:url(../images/bg-fundo-caixa.jpg);}
.cx-acesso h1 {color: #0076bc; text-transform: uppercase; font-size: 18px; font-family:flama-bolditalic-webfont; padding: 25px 0 19px 20px;}
.cx-acesso p {font-size:15px; font-family:arial; color: #000000; line-height: 22px; width: 264px; margin: 0px 0 26px 20px;}
.Lemail label, .Lsenha label { color:#0076bc; float: left; margin:10px 0 10px 25px; font-family: flama-medium-webfont; font-size: 15px;} 
.Lemail input[type="text"], .Lsenha input[type="password"] { width:230px; height: 10px; border:1px solid #cbccc1;  margin: 0 0 10px 14px; padding:10px;}
.Lsenha label, .Lsenha label { color:#0076bc; float: left; margin:10px 0 10px 25px; font-family: flama-medium-webfont; font-size: 15px;} 
.Lsenha input[type="text"], .Lsenha input[type="password"] { width:230px; height: 10px; border:1px solid #cbccc1; margin: 0 0 10px 14px; padding:10px;}
.Lsenha input[type="submit"] { width:100px; height: 35px; border:1px solid #cbccc1; margin: 0 0 10px 14px; padding:10px;}
.login-btn {width: 201px; height: 42px; background: #eff0e9; border-radius: 15px 15px 15px 15px; color: #54554a; border: 0px; cursor: pointer; font-family: flama-medium-webfont; text-transform: uppercase; margin:10px 10px 0 120px;}
/*.conectar-btn {width:178px; height: 31px; background: #4e4e4e; color: #fff; border: 0px; cursor: pointer; font-size: 13px; font-family: flama-medium-webfont; text-transform: uppercase; margin-bottom: 25px;}*/
.conectar-btn {margin: 15px 0 25px 200px;}
/*.linkEsqueci {font-family: flama-medium-webfont; color: #000000; text-decoration: underline!important; margin: 10px 0 25px 25px; display: inline-block;}*/
.hresp {width: 285px; border: 0px; border-bottom: 1px dotted #bbbbbb;}
.txtcad {margin-top: 33px; width: 292px; color:#000000; line-height:21px; margin-left: 25px; font-family: arial; font-size: 14px;}
/*.cadAgora {margin:20px 0 0 20px; height: 40px; width:250px; border: 1px solid; display: inline-block; background: #cfcfcf; text-align: center; line-height:40px; border: 0px; border-radius:10px; color: #a0a0a0; font-family: flama-bold-webfont;}*/
.cadAgora {margin: 10px 0 0 76px; text-align: center; line-height: 40px; border: 0px; border-radius: 10px; color: #a0a0a0; font-family: flama-bold-webfont;}
.cadAgora:hover {text-decoration: underline;}
.ladoEsqueci {width:173px; /*border: 1px solid;*/ float: left; margin-top: -58px; margin-left: 29px;}
.txt-loginN {font-family: arial; text-decoration: none!important; font-size: 12px; color: #000000; padding:0 0 10px 0; display: inline-block;}
.txt-loginN:hover {text-decoration: underline;}
.aspE {font-family: arial; color: #a4a793; padding: 0 10px 0 0; font-size: 16px;}


/*barra login*/
.iconlogin {float: left; margin: 7px 0 0 12px;}
.txt-nome {float: left; }
.iconPeca, .iconBalao {margin: -5px 0 0 -7px; position:relative; }
.circulo-login {width:20px; height:20px; position: absolute; top: 16px; z-index: 999999; color: #fff; border-radius:10px; left: 1304px; background: rgba(255, 12, 12, 0.4); text-align: center; line-height: 20px;}
.login-n { width: 192px!important; height: 158px; position: absolute!important; margin-top: 9999px; margin-left:-172px!important; /*border: 1px solid red;*/ top: -10px; background: #ebebeb!important}
.setaB { position: absolute; top: -12px; margin-left: 299px; float: left; }
.setaC{position:absolute; top:-12px; margin-left:127px; float:left}
.escuro {font-weight: bold!important; font-family: Flama-semibold; font-size: 18px;}
.txt-ferrame {color: #9d9f9a; font-size: 16px; margin-bottom: -3px; }
.espacoli {width:39px!important;}
.outron {margin-top:24px!important;}
.bottomn {border-bottom: 1px solid #cecece; width: 160px!important; margin-bottom: -1px!important; height: 40px; }

/*Login caxinha*/
/*.caixinha-id {width: 482px; height: 215px; background: #cbcbcb; clear:both;}/*
.caixinha-email {width: 482px; height: 300px; /*background: #cbcbcb; clear:both;*/}
/*.caixinha-id h2, .caixinha-email h2 {font-size: 20px; font-family: arial; color: #7e817a; padding: 20px 0 20px 20px;}
.caixinha-id input[type="text"], .caixinha-email input[type="text"] {width: 430px; height: 34px; margin: 0 0 0 20px; padding-left:5px; }*/
.caixinha-id input[type="submit"], .caixinha-email input[type="submit"] {background: #4d4d4d; color: #fff; font-size: 17px; padding: 7px; border: 0px; margin-left:20px;  margin-top: 20px;  cursor: pointer;}
.caixinha-id input[type="radio"], .caixinha-email input[type="radio"] {margin: 14px 0 0 20px;}
/*.caixinha-id label, .caixinha-email label {color:red; font-size: 16px; color:#90928d; font-family: arial; display: block; padding: 0 0 10px 20px; }*/
.novoLabel {display: inline-block!important; margin-left: -10px!important; }


/* Dados Finalizar */
.content-fim-cadastro {position: relative; z-index: -2; margin:0 auto; overflow:hidden; padding:0 22px 130px 22px; border-left: 1px solid #e7e8df; border-right: 1px solid #e7e8df; position:relative; width:950px; background: url("../images/bg-box.jpg") 0 42px repeat-x; min-height: 900px}
.content-fim-cadastro h2 { font-family: Flama-bold-italic, Arial, Helvetica, sans-serif; line-height: 16px; float:left; font-size: 20px; font-weight: normal; text-transform: lowercase; color: #0076bc; padding: 30px 0 10px 18px; height: 26px; width: 946px;}
.content-fim-cadastro h2 span{ font-family: Arial, sans-serif; font-size: 20px; color: #a4a793;}
.content-fim-cadastro p {color:#000000; display: block; line-height: 22px; width: 830px; font-family: arial;}

/*  Visualizar Assinaturas */

.v-assinaturas {margin: 0 auto; width: 1000px; /*background: #efefef;*/ height: 1000px; position: relative;}
.v-assinaturas h1 {color: #9a9b96; font-size:24px; font-weight: normal; font-family: flama-medium-webfont; padding: 25px 0 15px 15px; color: #0076bc;}
.v-assinaturas h2, .v-assinaturas h3 { color: #000000; font-size: 16px!important; font-weight: normal!important; font-family: arial!important; padding: 0px 2px 15px 17px; width:230px; float: left; font-size: 13px!important; /* border: 1px solid; */}
.txtPoup {color: #000000!important; font-size: 16px!important; font-weight: normal!important; font-family: arial!important; padding: 12px 2px 15px 18px!important; width: 361px!important; float: left!important; font-size: 13px!important; /* border: 1px solid; */}
.v-assinaturas h3 a {display:inline-block; color: #fff; font-size: 18px; font-weight: normal; font-family: arial; background:#09c800; line-height: 27px; width: 235px; height: 29px; text-align: center; margin:0 0 48px 20px;}
.divAssinatura {width:418px; /*border: 1px solid;*/ float: left; height: 205px;}
.tabelaAssi {clear: both;}
.divAssinatura strong {color:#0076bc;}
.apertaStrong {width: 100px!important;}
.divAssinatura input[type="checkbox"] {margin: 0 10px 0 18px; border: 1px solid;}
.divAssinatura label {font-size:14px; color: #5e5e5e; margin: 40px 0 0 0; display: inline-block;}
.divAssinaturaLado {width:578px; /*border: 1px solid;*/ float: left; height: 205px;}
.campoBuscaAssi {background:url(../images/busca.png); border-radius:3px; width:252px; height: 37px; /*margin:0 0 0 30px;*/}
.campoBuscaAssi input[type="text"] {width: 187px; /* border: 1px solid; */ height: 24px; margin: 5px 0 0 18px; border: 0;}
.campoBuscaAssi input[type="submit"] {opacity: 0.0; background: #fff; border: 0px; height: 33px; width:33px; color: #9a9b96; border-left: 1px solid; margin: 2px 0 0 0; cursor: pointer;}
.divRelatorio {margin: 35px 0 0 0;}
.divRelatorio img {float: left; padding: 0 10px 0 0; border: 0px; margin: 3px -5px 0 3px;}
.divRelatorio h4 {font-size: 14px; color: #606060; float: left; margin: 4px 10px 0 0px;}
.imgRela { border: 1px solid; padding: 0px!important}
.stronBTN {font-weight:normal; width: 105px; height: 27px; display: inline-block; text-align: center; line-height: 25px; font-size: 16px; color: #fff; background: #4f4f4f;}
.corTodos {background: #0079c8!important;}
.tabGeral {margin-top:0px;}
.tabGeral tbody {background: #fff; font-family: arial; font-size: 15px; font-weight: normal; color: #7f807a; }
.tabGeral tbody td { padding: 14px 0 10px 10px; border: 0px; text-align: center;}
.tabGeral tbody:nth-child(2n) {background: #fff;}
.tabGeral tbody:nth-child(2n+1) {background: #f5f6f0; border-bottom: 6px solid #eff0e9;}
.calss a {color: #666666!important; font-weight: bold; padding-right: 10px; font-size: 13px; padding-left: 5px; font-size: 15px; font-family: flama-basicitalic}
.calss a:hover {text-decoration:underline; color: #0076bd!important;}
.Tabfuncao {margin-top: 10px;}
.tabGeral thead th {border-left:#959784 dotted 1px; background:#f5f6f0; color:#0076bc; text-align:center; padding-left: 10px; border-bottom:6px solid #0076bc; font-family: flama-bolditalic-webfont;}
.tabGeral thead th:first-child{border-left:0px!important;} 
.tabGeral tbody td:last-child {text-align: center;}
.stronBTN input[type="text"] {background: #4f4f4f; color: #fff; width: 85px; border: 0px;}
.vAssinatura {width:432px; height: 450px; background: #fff; margin: 42px 0 0 0px; padding-left: 10px;}
.vAssinatura h1 {padding: 20px 0 15px 0px; margin: 30px 0 0 20px; color: #0076bc; font-size:30px; font-family: flama-bolditalic-webfont;}
.vAssinatura h2 {font-size: 18px; font-family: arial;}
.vAssinatura strong, .vAssinatura small {width: 140px; height: 40px; color: #fff; font-family: arial; font-weight: normal; font-size: 18px; line-height:40px; margin: 0 0 0 15px;}
.bacV {}
.vAssinatura span {padding: 15px 0 10px 20px; display: block; color:#000000; font-family: arial; font-size: 15px;}
.txtTextarea {margin: 0 0 0 20px; border-radius: 20px; width: 357px; padding: 5px 0 0 10px;}
.vAssinatura input[type="submit"] {margin: 15px 0 0 424px; display: block; background: #b3b3b3; color: #fff; border: 0px; width: 100px; height: 40px; cursor: pointer; font-weight: bold;}



/*o css Menu Unico MM*/

#barra-grupoMM{background-color:#f5f6f1; position:relative; z-index:9999; width:100%; height:57px}
#barra-grupoMM .barra-conteudo{width:994px; margin:0 auto; overflow:hidden}
#barra-grupoMM .barra-conteudo h1{float:left; margin:8px 0px 0 0}
#barra-grupoMM .barra-conteudo .barra-menu{font-family:Flama-semibold-italic,Arial,Helvetica,sans-serif; font-size:17px; float:left}
#barra-grupoMM .barra-conteudo .barra-access{font-family:Arial,Helvetica,sans-serif; font-size:12px; float:right; margin:5px 0 0 0}
#barra-grupoMM .barra-conteudo .barra-menu li, #barra-grupoMM .barra-conteudo .barra-access li{float:left; height:45px}
#barra-grupoMM .barra-conteudo .barra-access li ul{top:42px; box-shadow:0 0px 10px rgba(5,5,5,.1); border:1px solid #ddd; position:absolute; margin:10px 0 0 -254px; display:none; width:300px; padding:10px; padding-bottom:25px; background:#fff url("../images/bg-boxLogin.jpg") repeat-x 0 50px;}
#barra-grupoMM .barra-conteudo .barra-access li ul li{display:block; width:100%; padding:0 15px 13px 15px}
#barra-grupoMM .barra-conteudo .barra-access li ul label{color:#0076bc; display:block; font-family:Flama-bold-italic,Arial,Helvetica,sans-serif; font-size:20px; float:left; margin:12px 0}
#barra-grupoMM .barra-conteudo .barra-access li ul li small{color:#A4A793; display:block; font-family:Arial,Helvetica,sans-serif; font-size:20px; margin:12px 0 0 10px; letter-spacing:-2px}
#barra-grupoMM .barra-conteudo .barra-access li ul span{color:#0076bc; display:block; font-family:Flama-bold-italic,Arial,Helvetica,sans-serif; font-size:15px; float:left; line-height:35px; padding-right:11px; text-transform:lowercase}
#barra-grupoMM .barra-conteudo .barra-access li ul input{background:#fff; border:1px solid #cbccc1; border-radius:20px; width:184px; clear:both; padding:8px 14px; color:#999}
#barra-grupoMM .barra-conteudo .barra-access li ul button{background:#666; color:white; font-family:Flama-basic,arial; text-transform:uppercase; border:none; padding:8px 14px; margin:0 30px 0 0}
.btn_login{background:#666; color:white; font-family:Flama-basic,arial; text-transform:uppercase; border:none; padding:8px 14px; margin:0 30px 0 0}
#barra-grupoMM .barra-conteudo .barra-menu li a, #barra-grupoMM .barra-conteudo .barra-access li a{color:#7e807a; display:block; margin-top:12px; height:26px}
#barra-grupoMM .barra-conteudo .barra-menu li a span, #barra-grupoMM .barra-conteudo .barra-access li a span{border-right:1px dotted #cdcec8; display:block; padding:0px 13px 0 13px}
#barra-grupoMM .barra-conteudo .barra-menu li a span{border-right:1px dotted #cdcec8}
#barra-grupoMM .barra-conteudo .barra-access li a span:last-child{border:none!important}
.none-border{border-right:0px none transparent!important}
.uppercase{text-transform:lowercase;  margin:0px 0!important; font-family:Flama-semibold-italic,arial; font-size:15px; padding:0; font-weight:normal}
.uppercase span{padding:10px 15px 10px 15px!important; border-right:none!important; background:#eff0e9; border-top-left-radius:25px; border-bottom-left-radius:25px;  border-right:1px dotted #cdcec8!important; margin:0px}
.uppercase span.right{ border-top-left-radius:0px; border-bottom-left-radius:0px; border-top-right-radius:25px; border-bottom-right-radius:25px; padding:10px 15px 10px 15px!important}
.uppercase span:hover{color:white; background:#0076bc}
#barra-grupoMM .barra-conteudo .barra-access li a.logado{border-radius:25px; background-color:#eff0e9; font-family:Flama-semibold-italic,arial; font-size:15px;  border-right:none!important;  color:#0076bd; height:auto!important; margin:0!important; background-image:url("../images/icon_user_azul.png"),url("../images/icon_seta_azul.png"); background-position:15px 8px,right 8px; background-repeat:no-repeat}
#barra-grupoMM .barra-conteudo .barra-access li a.logado:hover{background-image:url("../images/icon_user_branco.png"),url("../images/icon_seta_branco.png"); background-position:15px 8px,right 8px; background-repeat:no-repeat; color:#fff}
#barra-grupoMM .barra-conteudo .barra-access li a.logado span{padding:9px 44px 9px 35px!important}
#barra-grupoMM .barra-conteudo .barra-access li a.logado:hover{ background-color:#0076bd}
#barra-grupoMM .barra-conteudo .barra-menu li:last-child a span{border:none}
.lembrete{height:auto!important; width:150px!important; padding:4px 5px!important}
.lembrete a{background:url("../images/arrow-next.png") 0px 2px no-repeat; border-bottom:3px solid #fff; padding-left:14px; color:#54554a!important; margin:0!important; height:auto!important; width:135px}
.lembrete a:hover{border-bottom:3px solid #ddd; overflow:hidden; float:left}
#barra-grupoMM li.azul a{color:#0076bc!important; text-transform:lowercase}
#barra-grupoMM li.rosa a{color:#eb196b!important; text-transform:lowercase}
#barra-grupoMM li.roxo a{color:#9a3b70!important; text-transform:lowercase}
#barra-grupoMM li.azul a:hover{color:#0076bc; padding-bottom:8px; border-bottom:4px solid #0076bc}
#barra-grupoMM li.rosa a:hover{color:#eb196b; padding-bottom:8px; border-bottom:4px solid #eb196b}
#barra-grupoMM li.roxo a:hover{color:#9a3b70; padding-bottom:8px; border-bottom:4px solid #9a3b70}
#box-conteudos{border:1px solid #edede9; height:435px; margin:0 auto; width:994px}
#box-conteudos .em-destaque{float:left; margin:21px 0 0 40px; width:530px}
#box-conteudos .em-destaque h3, #box-conteudos .leia-tambem h4{font-family:Flama-bold-italic,Arial,Helvetica,sans-serif; font-size:18px; font-weight:normal; padding:0 0 16px 0}
#box-conteudos .em-destaque h3 span, #box-conteudos .leia-tambem h4 span{color:#a4a793; font-family:Arial,Helvetica,sans-serif; font-size:18px; font-weight:bold; letter-spacing:-1px; padding:0 0 0 2px}
#box-conteudos .em-destaque .noticia-principal{float:left}
#box-conteudos .em-destaque .noticia-principal a img{height:162px; width:253px}
#box-conteudos .em-destaque .noticia-principal h2{padding:14px 0 16px 0; width:218px}
#box-conteudos .em-destaque .noticia-principal h2 a{color:#333; font-family:Flama-medium-italic,Arial,Helvetica,sans-serif; font-size:17px}
#box-conteudos .em-destaque .noticia-principal p{position:relative; width:218px}
#box-conteudos .em-destaque .noticia-principal p a{color:#000; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:1.2}
#box-conteudos .em-destaque .noticia-principal p span{position:absolute; top:-44px; right:-35px}
#box-conteudos .em-destaque .noticia-principal p .imagem{background:url("images/icon_sprite.png") no-repeat left -43px; width:25px; height:24px; display:block; text-indent:-9999px}
#box-conteudos .em-destaque .noticias-secundarias{float:right}
#box-conteudos .em-destaque .noticias-secundarias li{border-bottom:2px solid #edede9; margin:0 40px 20px 0; width:215px}
#box-conteudos .em-destaque .noticias-secundarias li:last-child{border:none}
#box-conteudos .em-destaque .noticias-secundarias p{padding-bottom:20px; position:relative; width:183px}
#box-conteudos .em-destaque .noticias-secundarias p a{color:#000; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:1.2}
#box-conteudos .em-destaque .noticias-secundarias p a strong{display:block; font-size:14px; line-height:1.2; padding-bottom:10px}
#box-conteudos .em-destaque .noticias-secundarias p span{position:absolute; top:6px; right:-30px}
#box-conteudos .em-destaque .noticias-secundarias p .txt{background:url("images/icon_sprite.png") no-repeat -78px -41px; width:18px; height:21px; display:block; text-indent:-9999px}
#box-conteudos .leia-tambem{border-left:1px solid #edede9; float:left; margin:21px 0 38px 0; padding-left:47px; width:332px}
#box-conteudos .leia-tambem li{border-bottom:2px solid #edede9; margin-bottom:14px; overflow:hidden; padding:0 0 15px 0}
#box-conteudos .leia-tambem li:last-child{border:none; margin:0; padding:0}
#box-conteudos .leia-tambem p{float:left; padding:0 0 0 15px; position:relative; width:185px}
#box-conteudos .leia-tambem p a{display:block; font-family:Flama-bold-italic,Arial,Helvetica,sans-serif; font-size:14px; padding-bottom:10px}
#box-conteudos .leia-tambem p a strong{color:#000; display:block; font-family:Arial,Helvetica,sans-serif; font-size:14px; line-height:1.2; padding:6px 0 0 0}
#box-conteudos .leia-tambem a img{float:left; height:68px; width:107px}
#box-conteudos .leia-tambem p span{position:absolute; top:6px; right:-25px}
#box-conteudos .leia-tambem p .txt{background:url("images/icon_sprite.png") no-repeat -78px -41px; width:18px; height:21px; display:block; text-indent:-9999px}
#box-conteudos .redes-sociais{float:left; padding-bottom:7px; width:994px}
#box-conteudos .redes-sociais a{background:url("images/menu-redesSociais.png") no-repeat left top; display:block; float:left; height:30px; text-indent:-9999px; width:184px}
#box-conteudos .redes-sociais ul{border-top:2px solid #edede9; margin:0 40px; padding-top:8px; width:914px}
#box-conteudos .redes-sociais li{float:left}
#box-conteudos .redes-sociais li a{background:url("../images/menu-redesSociais.png") no-repeat left top; display:block; height:28px; margin:1px 8px}
#box-conteudos .redes-sociais li .facebook, #box-conteudos .redes-sociais.proxxima li .facebook, #box-conteudos .redes-sociais.eventos li .facebook{background-position:-192px 0; width:76px}
#box-conteudos .redes-sociais li .twitter, #box-conteudos .redes-sociais.proxxima li .twitter, #box-conteudos .redes-sociais.eventos li .twitter{background-position:-283px 0; width:60px}
#box-conteudos .redes-sociais li .rss, #box-conteudos .redes-sociais.proxxima li .rss, #box-conteudos .redes-sociais.eventos li .rss{background-position:-357px 0; width:41px}
#box-conteudos .redes-sociais li .news, #box-conteudos .redes-sociais.proxxima li .news, #box-conteudos .redes-sociais.eventos li .news{background-position:-413px 0; width:85px}
#box-conteudos .redes-sociais li .facebook:hover{background-position:-192px -26px; width:76px}
#box-conteudos .redes-sociais li .twitter:hover{background-position:-283px -26px; width:60px}
#box-conteudos .redes-sociais li .rss:hover{background-position:-357px -26px; width:41px}
#box-conteudos .redes-sociais li .news:hover{background-position:-413px -26px; width:85px}
#box-conteudos span.borda-MM{border-top:7px solid #007dc5; display:block; width:994px}
#box-conteudos .em-destaque.meio-mensagem h3, #box-conteudos .leia-tambem.meio-mensagem h4{color:#0076bd}
#box-conteudos .em-destaque.meio-mensagem .noticia-principal a img{border-top:5px solid #0076bd}
#box-conteudos .em-destaque.meio-mensagem .noticia-principal p a:hover, #box-conteudos .em-destaque.meio-mensagem .noticias-secundarias p a:hover{color:#0076bd}
#box-conteudos .leia-tambem li.comunicacao a img{border-top:5px solid #ed8202}
#box-conteudos .leia-tambem li.marketing a img{border-top:5px solid #e2001a}
#box-conteudos .leia-tambem li.midia a img{border-top:5px solid #7ca421}
#box-conteudos .leia-tambem li.comunicacao p a, #box-conteudos .leia-tambem li.comunicacao p a:hover strong{color:#ed8202}
#box-conteudos .leia-tambem li.marketing p a, #box-conteudos .leia-tambem li.marketing p a:hover strong{color:#e2001a}
#box-conteudos .leia-tambem li.midia p a, #box-conteudos .leia-tambem li.midia p a:hover strong{color:#7ca421}
#box-conteudos .redes-sociais.meio-mensagem{border-bottom:7px solid #0076bd}
#box-conteudos span.borda-Proxxima{border-top:7px solid #eb196b; display:block; width:994px}
#box-conteudos .em-destaque.proxxima h3, #box-conteudos .leia-tambem.proxxima h4{color:#eb196b}
#box-conteudos .em-destaque.proxxima .noticia-principal a img{border-top:5px solid #eb196b}
#box-conteudos .em-destaque.proxxima .noticia-principal p a:hover, #box-conteudos .em-destaque.proxxima .noticias-secundarias p a:hover{color:#eb196b}
#box-conteudos .leia-tambem li.social a img{border-top:5px solid #eb196b}
#box-conteudos .leia-tambem li.mobile a img{border-top:5px solid #eb196b}
#box-conteudos .leia-tambem li.criacao a img{border-top:5px solid #eb196b}
#box-conteudos .leia-tambem li.social p a, #box-conteudos .leia-tambem li.social p a:hover strong{color:#eb196b}
#box-conteudos .leia-tambem li.mobile p a, #box-conteudos .leia-tambem li.mobile p a:hover strong{color:#eb196b}
#box-conteudos .leia-tambem li.criacao p a, #box-conteudos .leia-tambem li.criacao p a:hover strong{color:#eb196b}
#box-conteudos .redes-sociais.proxxima{border-bottom:7px solid #eb196b}
#box-conteudos .redes-sociais.proxxima li a{background-position:0 -36px; width:126px}
#box-conteudos .redes-sociais.proxxima li .news:hover{background-position:-413px -52px; width:85px}
#box-conteudos span.borda-Eventos{border-top:7px solid #9a3b70; display:block; width:994px}
#box-conteudos .esta-acontecendo{float:left; margin:21px 50px 0 40px; padding-bottom:25px; width:450px}
#box-conteudos .esta-acontecendo h3, #box-conteudos .veja-tambem h4{color:#9a3b70; font-family:Flama-bold-italic,Arial,Helvetica,sans-serif; font-size:18px; font-weight:normal; padding:0 0 20px 0}
#box-conteudos .esta-acontecendo h3 span, #box-conteudos .veja-tambem h4 span{color:#a4a793; font-family:Arial,Helvetica,sans-serif; font-size:18px; font-weight:bold; letter-spacing:-1px; padding:0 0 0 2px}
#box-conteudos .esta-acontecendo a img{float:left}
#box-conteudos .esta-acontecendo h2{padding:15px 0}
#box-conteudos .esta-acontecendo h2 a{color:#333; font-family:Flama-medium-italic,Arial,Helvetica,sans-serif; font-size:17px}
#box-conteudos .esta-acontecendo .info-evento{float:left; padding:8px 0 0 30px; width:317px}
#box-conteudos .esta-acontecendo .info-evento p.data-evento{color:#9a3b70; font-family:Flama-semibold-italic,Arial,Helvetica,sans-serif; font-size:14px}
#box-conteudos .esta-acontecendo .info-evento p a{color:#000; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:1.2}
#box-conteudos .esta-acontecendo .info-evento p a:hover{color:#9a3b70}
#box-conteudos .esta-acontecendo .botoes-evento{border-top:1px dotted #d6d7ce; float:left; margin-top:18px; padding:28px 0 0 0; width:450px}
#box-conteudos .esta-acontecendo .botoes-evento li{float:left}
#box-conteudos .esta-acontecendo .botoes-evento li a{background:#9a3b70; border-radius:3px; color:#fff; font-family:Arial,Helvetica,sans-serif; font-size:11px; font-weight:bold; margin:0 12px 0 0; text-transform:uppercase; padding:7px 12px}
#box-conteudos .veja-tambem{border-left:1px solid #edede9; float:left; margin:21px 0 12px 0; padding-left:50px; width:360px}
#box-conteudos .veja-tambem li{border-bottom:2px solid #edede9; margin-bottom:12px; overflow:hidden; padding:0 0 12px 0}
#box-conteudos .veja-tambem li:last-child{border:none; margin:0; padding:0}
#box-conteudos .veja-tambem p{float:left; padding:0 0 0 15px; width:230px}
#box-conteudos .veja-tambem p a{ color:#000;  font-family:Arial,Helvetica,sans-serif;  font-size:12px;  line-height:1.2; padding-bottom:10px}
#box-conteudos .veja-tambem p a:hover{color:#9a3b70}
#box-conteudos .veja-tambem p a strong{display:block;  font-size:14px;  line-height:1.2;  padding-bottom:7px}
#box-conteudos .veja-tambem a img{float:left; height:84px; width:110px}
#box-conteudos .redes-sociais.eventos{border-bottom:7px solid #9a3b70}
#box-conteudos .redes-sociais.eventos li a{background-position:0 -64px; width:129px}
#box-conteudos .redes-sociais.eventos li .news:hover{background-position:-413px -78px; width:85px}
.iconlogin{float:left; margin:-3px 8px 0 0px}
.bgalert{background:transparent url("../images/icon_alert.png") 10px 3px no-repeat!important; width:12px; height:14px}
.bgalert:hover{background:transparent url("../images/icon_alert.png") 10px -28px no-repeat!important}
.iconPeca, .iconBalao{margin:-5px 0 0 -2px; position:relative}
.iconPeca{float:right}
.circulo-login{width:16px; height:16px; position:absolute; top:28px; z-index:999999; color:#fff; border-radius:15px; margin:0 0 0 10px; background:#d13434; text-align:center; line-height:17px; font-family:arial; font-size:11px; font-weight:bold}
.circulo-login:hover{background:#d4d5cf; color:#0076bc}

.login-n{width:192px!important; height:158px;  margin-left:-162px!important; background:#ebebeb!important}

.txt-ll{color:#666; font-family:flama-basic; font-size:16px; line-height:20px; font-style:italic; width:300px; padding:5px 0 0 0}
.txt-ll img{float:left; padding:0 28px 0 0}
.escuro{font-weight:bold!important; font-family:Flama-semibold; font-size:18px}
.txt-ferrame{color:#9d9f9a; font-size:16px; margin-bottom:-3px; background:url("../images/point.png") 15px 18px no-repeat}
.txt-ferrame a{margin-left:15px}
.espacoli{width:39px!important}
.outron{margin-top:24px!important}

.bottomn{border-bottom:1px solid #cecece; width:160px!important; margin-bottom:-1px!important; height:40px}
.submenu-alert{margin-left:-323px!important; background:white!important; width:300px; padding:28px!important}
 
.submenu-alert li{height:66px!important; padding:0!important}
#btn_login{float:right; background:#0462a0 url("../images/next-white.png") 10px 8px no-repeat; color:#fff!important; font-family:flamamedium-italic,Arial,Helvetica; text-transform:uppercase; border-radius:30px; margin-left:5px; padding:9px 17px 9px 38px; height:auto!important}
#btn_login_social{float:right; height:auto!important}

#form_login{margin:7px 0; overflow:hidden}
.perfil{width:190px!important; margin-left:-32px!important; background:white!important}
.perfil li{height:18px!important}
.logout{border-top:1px dotted #999; width:127px!important; margin:25px 15px; padding:6px 15px 0px 15px!important}
.logout a{padding:10px 6px; padding-left:15PX; background:#eff0e9; border-radius:25px; WIDTH:56px; height:auto!important; text-transform:uppercase!important; font-family:Flama-medium-italic; float:right; margin:20px -18px}

.submenu li img{position:absolute; top:-12px; right:20px}
.submenus li img{position:absolute; top:-12px; right:20px}

/*Global Cadastro*/
.content-cadastro h2 { font-family: Flama-bold-italic, Arial, Helvetica, sans-serif; line-height: 16px; float:left; font-size: 25px; font-weight: normal; margin: 40px 0 40px 0px; text-transform: lowercase; color: #0076bc; padding-left: 30px; height: 26px;}
.content-cadastro h2 span{ font-family: Arial, sans-serif; font-size: 20px; color: #a4a793;}

.content-cadastro .cadastro-passos { display:inline; width: 950px; float:left; margin:0 0 40px 0; border-bottom: 6px solid #0076bc;}
.content-cadastro .cadastro-passos li { display:block; float:left; font-family:flama-basic, Arial, Helvetica, sans-serif; font-size:15px; margin:5px 0; text-transform:uppercase; }
.content-cadastro .cadastro-passos li strong { float:left; font-family:flama-medium, Arial, Helvetica, sans-serif; font-size:30px; border-right:1px solid #7e807a; padding-right:13px; }
.content-cadastro .cadastro-passos li span { float:left; line-height:30px; padding: 0 25px 0 15px; font-family: flamamedium-italic, Arial, Helvetica, sans-serif; line-height: 36px; background: url("../images/next-active.png") right -44px no-repeat;}
.content-cadastro .cadastro-passos li span:hover { background: url('../images/next-active.png') right 0 no-repeat; color: #0076bc; }
.content-cadastro .cadastro-passos li label {margin: 0 auto; width: 35px; height: 10px; background: url("../images/pic-active.png") no-repeat; background: url("../images/pic-active.png") center no-repeat; position: absolute; margin: 33px 0 0 25px;}
.bg-none {background:none!important;}
.menu-active { background: url('../images/next-active.png') right 0 no-repeat; color: #0076bc; }

.btn-cadastro { float:right; margin: 0 40px 0 0; clear: both;}

.linkedin-btn {width: 37px; height: 37px; float: left; background: url("../images/social-media.jpg") -85px -2px; margin: 36px 0 0 5px;}
.linkedin-btn:hover {background: url("../images/social-media.jpg") -85px -39px;}

/* --------------  1º PASSO - DADOS PESSOAIS  -------------- */
.column-left { float:left; padding-top:60px; position:relative; width:497px; }
.form-perfil, .form-endereco, .form-profissional { /*border-right:1px solid #ccc; position:relative; background:url("../images/bg-box.jpg")*/ repeat-x; width:43%; float: left; margin:0 0 60px 0;}
.form-profissional { border:none; /*margin-left:30px;*/ }
.form-perfil h3, .form-endereco h4, .form-profissional h5 { font-family: Flama-bold-italic, Arial, Helvetica, sans-serif; line-height: 16px; float:left; font-size:20px; font-weight:normal; margin:25px 0 40px -30px; text-transform:lowercase; color:#0076bc; /*background:url("../images/pic-title.jpg") 0 -3px no-repeat;*/ padding-left: 50px;  height: 26px;}
.form-perfil a.btn-depois, .form-endereco a.btn-depois, .form-profissional a.btn-depois, .form-perfil a.btn-depois { background:#eff0e9 url("../images/next-black.png") 10px 8px no-repeat; border-radius:20px; color:#54554a; font-family:flamamedium-italic, Arial, Helvetica, sans-serif; font-size:12px; padding: 9px 17px 9px 38px; position:relative; text-transform:uppercase;margin: -10px 42px 0 0; float: right; }
.form-perfil a.btn-depois:hover, .form-endereco a.btn-depois:hover, .form-profissional a.btn-depois:hover { background:#d7d8cc url("../images/next-black.png") 10px 8px no-repeat; }
.btn-depois {cursor:pointer;}

.column2 {float:left; background: url("../images/bg-box.jpg") 0 34px repeat-x; width: 994px; margin-left: -22px;}

.btn-cadastro a.btn-parar { float: left; background:#eff0e9 url("../images/next-black.png") 10px 8px no-repeat; color:#7e807a!important; font-family:flamamedium-italic, Arial, Helvetica; text-transform:uppercase; font-size:12px; border-radius:30px; margin-left:5px; padding: 9px 17px 9px 38px; }/*{ margin: -10px 0 0 0; background:#eff0e9; border-radius:20px; color:#54554a; font-family:flamamedium-italic, Arial, Helvetica, text-transform:uppercase; sans-serif; font-size:11px; padding:8px 17px; position:absolute; right:47px; top:0; }*/
.btn-cadastro a.btn-parar:hover { background:#d7d8cc url("../images/next-black.png") 10px 8px no-repeat; }
.btn-cadastro a.btn-prosseguir { float: left;background:#0462a0 url("../images/next-white.png") 10px 8px no-repeat; color:#fff!important; font-family:flamamedium-italic, Arial, Helvetica; text-transform:uppercase; font-size:12px; border-radius:30px; margin-left:5px; padding: 9px 17px 9px 38px;}
.btn-cadastro a.btn-prosseguir:hover { background:#0078be url("../images/next-white.png") 10px 8px no-repeat;}


.form-perfil .input-box, .form-endereco .input-box, .form-profissional .input-box { margin-bottom:10px; float:left; margin-right: -1px; display: initial; min-width:455px;}
.form-perfil .input-box label, .form-endereco .input-box label, .form-profissional .input-box label  { display:block; float:left; padding:0 0 0 0px; font-family:Flama-bold-italic, Arial, Helvetica, sans-serif; font-size:15px; line-height:16px; text-align:right; text-transform:lowercase; width:94px; color:#0076bc;}
.form-perfil .input-box input[type='text'],.input-box input[type='password'], .form-endereco .input-box input[type='text'], .form-profissional .input-box input[type='text'], .form-endereco .input-box select, .form-profissional .input-box select { background:#fff; border:1px solid #ccc; color:#7e807a; border-radius:30px; font-family:flama-basic, Arial, Helvetica, sans-serif; font-size:14px; margin-left:24px; padding: 8px 40px 8px 15px; text-transform:lowercase; width:222px; }
.form-endereco .input-box select, .form-profissional .input-box select { color:#333; width:278px; background: url("../images/next-down.jpg") 240px 3px #fff no-repeat ; -webkit-appearance: none; -moz-appearance: none!important; appearance: none!important;}
.selecNN {border: 1px solid #cbccc1; font-size: 12px; text-transform: uppercase; margin: 39px 0 0 -1px; color: #333; width: 172px; background: url("../images/next-down.jpg") 135px 3px #fff no-repeat; padding: 0px 0 0 10px; border-radius: 30px; height: 35px; -webkit-appearance: none; -moz-appearance: none!important; appearance: none!important;}
.form-endereco .input-box input.cep { width:144px; }
.form-endereco a:link.btn-cep { color:#333; font-family:flamamedium-italic, Arial, Helvetica, sans-serif; font-size:10px; margin-left:20px; /*text-decoration:underline;*/ border-bottom:2px solid #e6e7df;text-transform:uppercase; }
.form-profissional { /*background: url("../images/dotted-large.gif") 0px 60px no-repeat;*/ }


.column-right { float:right; padding-top:60px; position:relative; width:497px; }
.form-social { height:328px; padding:142px 0 0 30px; float:left; background: url("../images/dotted-short.png") 0px 160px no-repeat; }
.form-social p {  font-family:Arial, flama-semibold, Helvetica, sans-serif; font-size:14px; text-transform:lowercase; color:#333;}
.form-social p span { font-size:16px; text-decoration:underline; font-weight:bold;}
.form-social p.redes-sociais { background:#e6e7e1 url("../images/bg-social.jpg") right no-repeat; color:#333; font-size:12px; margin-top:38px; padding:12px 20px; width:190px; float:left;}


/* --------------  2º PASSO - NEWSLETTERS  -------------- */ 
.content-cadastro { margin:0 auto; overflow:hidden; padding:0 22px 130px 22px; /*border-left: 1px solid #e7e8df; border-right: 1px solid #e7e8df;*/ position:relative; width:950px; background: url("../images/bg-box.jpg") 0 42px repeat-x; min-height: 900px}
.cadastro-news h3 { border-bottom:2px solid #cdcdcd; font-family:flama-semibold, Arial, Helvetica, sans-serif; font-size:23px; font-weight:normal; padding-bottom:10px; text-transform:uppercase; }
.descricao { /*border-bottom:6px solid #0076bc;*/ padding: 0 0 20px 0; width:870px; margin: 0 0 30px 0;}
.descricao p, .news-mm .news-box p, .news-proxxima .news-box p, .news-anuarios .news-box p, .termos p, .app-mm .app-box p, .app-proxxima .app-box p, eventos-box p { font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:14px; /*padding-left:23px;*/ width:100%; color: #333;}
.descricao p.title { font-family: Flama-bold-italic, Arial, Helvetica, sans-serif; line-height: 16px; float:left; font-size:20px; font-weight:normal; text-transform:lowercase; color:#0076bc; background:url("../images/pic-title.jpg") 0 -3px no-repeat; padding-left: 50px;  height: 26px; margin:0 0 30px 0; } 
.news-mm, .news-proxxima, .news-anuarios, .app-mm, .app-proxxima, .eventos-mm { float: left; overflow: hidden; background: #f5f6f0; border: 6px solid #e7e8df; margin: 20px 20px 42px 0;}
.news-anuarios { margin:0 0 0 65px; }
.news-mm h4, .news-proxxima h5, .news-anuarios h6, .app-mm h4, .app-proxxima h5, .eventos-mm h4 { font-family: flamaextrabold-italic, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: normal; margin: -34px 0 0 0; padding: 0; /*border-bottom: 6px solid #0076bc;*/ position: absolute; color: #0076bc; }
.news-mm .news-box, .news-proxxima .news-box, .news-anuarios .news-box, .app-mm .app-box, .app-proxxima .app-box, .news-mm .news-box, .news-proxxima .news-box, .news-anuarios .news-box, .app-mm .app-box, .app-proxxima .app-box, .eventos-mm .eventos-box { border-left:1px dotted #bbb; color:#333; border-top:1px dotted #bbb; float:left; min-height: 200px; /*margin-right:10px;*/ padding:27px 24px; width:172px; }
/*.news-mm .news-box p, .news-proxxima .news-box p, .news-anuarios .news-box p, .eventos-mm .eventos-box p { padding:0; width:auto; }*/
.news-mm .news-box p strong, .news-proxxima .news-box p strong, .news-anuarios .news-box p strong, .eventos-mm .eventos-box p strong, .app-mm .app-box p strong, .app-proxxima .app-box p strong, .news-mm .news-box p strong, .news-proxxima .news-box p strong, .news-anuarios .news-box p strong, .eventos-mm .eventos-box p strong, .app-mm .app-box p strong, .app-proxxima .app-box p strong  { display:block; line-height:18px; font-family:flama-semibold-italic, Arial, Helvetica, sans-serif; color:#333; font-size:18px; font-weight:normal; margin-bottom:11px; }
.news-mm .news-box a.btn-assinar, .news-proxxima .news-box a.btn-assinar, .news-anuarios .news-box a.btn-assinar, .app-mm .app-box a.btn-download, .app-proxxima .app-box a.btn-download, .eventos-mm .eventos-box a.btn-inscreva { float: left; margin:20px 0 0 0; background: #0462a0 url("../images/next-white.png") 10px 8px no-repeat; color: #fff!important; font-family: flamamedium-italic, Arial, Helvetica; text-transform: uppercase; font-size: 12px; border-radius: 30px; margin-left: 5px; padding: 9px 17px 9px 38px; }
.news-mm .news-box a.btn-assinar:hover, .news-proxxima .news-box a.btn-assinar:hover, .news-anuarios .news-box a.btn-assinar:hover,  .app-mm .app-box a.btn-download:hover, .app-proxxima .app-box a.btn-download:hover, .eventos-mm .eventos-box a.btn-inscreva:hover {background: #0076bc url("../images/next-white.png") 10px 8px no-repeat;}
span.assinado{ float: left; background: #F8244F; color:#FFF!important; font-family: flamamedium-italic, Arial, Helvetica; text-transform: uppercase; font-size: 12px; border-radius: 30px; margin: 20px 0 0 0; padding: 9px 17px; }
.btn-assinado { color:#fff}
.termos { float:left; margin-top:30px; width: 950px; background: url("../images/bg-box.jpg") 0 5px repeat-x; } 
.termos p.title { border-bottom:6px solid #0076bc; color:#0076bc; font-family:flamaextrabold-italic, Arial, Helvetica, sans-serif; font-size:18px; margin-bottom:30px; padding:0 0 15px 23px; width:927px; }
.termos .checkbox-termos { margin:40px 0 0 23px;}
.termos .checkbox-termos .check-box { margin-bottom:5px; }
.termos .checkbox-termos .check-box label { font-family:Arial, Helvetica, sans-serif; font-size:11px; text-transform:uppercase; color: #333;}


/* --------------  3º PASSO - APLICATIVOS APP/ID  -------------- */ 

.cadastro-aplicativos h3 { border-bottom:2px solid #cdcdcd; font-family:flama-semibold, Arial, Helvetica, sans-serif; font-size:23px; font-weight:normal; padding-bottom:10px; text-transform:uppercase; }

/* --------------  4º PASSO - EVENTOS  -------------- */ 

.cadastro-eventos h3 { border-bottom:2px solid #cdcdcd; font-family:flama-semibold, Arial, Helvetica, sans-serif; font-size:23px; font-weight:normal; padding-bottom:10px; text-transform:uppercase; }


/* --------------  5º PASSO - FINALIZAÇÃO CADASTRO  -------------- */
.cadastro-finalizacao { float:left; padding:60px 22px 0 22px; position:relative; width:950px; }
.cadastro-finalizacao h3 { border-bottom:2px solid #cdcdcd; font-family:flama-semibold, Arial, Helvetica, sans-serif; font-size:23px; font-weight:normal; padding-bottom:10px; text-transform:uppercase; }
.cadastro-finalizacao .descricao { border:none; padding:32px 0; width:870px; }
.cadastro-finalizacao .descricao p { font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; padding-left:23px; width:730px; }
.cadastro-finalizacao .descricao p.title { font-family:flama-basicitalic, Arial, Helvetica, sans-serif; font-size:17px; margin-bottom:20px; }
.cadastro-finalizacao .descricao p.title span { font-family:flama-semibold-italic, Arial, Helvetica, sans-serif; }

.bg-cadastro {overflow:hidden;}
input[type="radio"]{background:#fff; margin-left: 25px; -webkit-appearance: none; -webkit-margin-end: 3px; -webkit-transition: border 500ms; border-radius: 100%; border: 1px solid #cbccc1; display: inline-block; height: 15px; margin-bottom: 0; position: relative; top: 3px; vertical-align: baseline; width: 15px;}
input[type='radio']:checked::before { -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5); -webkit-margin-start: 4px; background: #0076bd; border-radius: 10px; content: ''; display: inline-block; font-size: 13px; font-weight: 400; height: 5px; left: 0; margin-top: 4px; opacity: 1; position: absolute; top: 0; vertical-align: top; width: 5px; }
input-box span {font-size:14px;}
.showbar {padding: 10px 0; width: 100%; text-align: center; background: #feb; color:#333;}
.showbar p {padding: 10px; text-align: center; }  
.content-cadastro .cadastro-passos li, .content-cadastro .cadastro-passos li a {color:#999;}
.news-box p, .app-box p {height:45px;}
#disable1, #disable3 { display:none}

#resultado-email-login {  z-index: 999;font-family: arial;font-size: 13px;margin: 17px 0 0 0; color: red; width: 200px; height: 40px; display: block; position: absolute; top: 64px; left: 96px; display:none;}
#notification {color: red; margin: 5px 0 0 200px; font-size: 12px; font-style: italic; position: absolute; display: none; }
.txtempty::-webkit-input-placeholder { color: red!important; }
.txtempty:-moz-placeholder {  color: red!important; }
.txtempty::-moz-placeholder { color: red!important; }
.txtempty:-ms-input-placeholder { color: red!important; }

/*Campo Cadastro Fechado */
.txt-cfechado {font-size: 22px; font-family: arial; color:#0076bc; margin: 10px 0 0 0px; padding: 35px 0 15px 0; text-transform:uppercase; width: 1000px; margin: 0 auto;}
.txt-cfechadovisu {font-size: 22px; font-family: arial; color:#0076bc; margin: 10px 0 0 0px; padding: 35px 0 0px 38px; /*text-transform:uppercase;*/ width: 1000px; margin: 0 auto;}
.icon-lado {background: url(../images/icon-seta.png) no-repeat; width: 14px; height: 18px; display: inline-block; border-right: 1px dotted #959784; padding: 0 0px 0 10px; margin-right: 10px;}
.raquo {color: #a4a79f;}
.content-barrinha {width: 187px; height: 275px; border: 1px solid #e2e4d7; background: #fff; border-top: #0076bc 5px solid;}

/*Login novo*/
.tarjaApare, .tarjaApareGra {top:42px; box-shadow:0 0px 10px rgba(5,5,5,.1); /*border:1px solid #ddd;*/ height:383px;  margin:10px 0 0 0px; width:355px; padding-bottom:25px; background:#fff url("../images/bg-boxLogin.jpg") repeat-x 0 117px;}
.tarjaApare h2, .tarjaApareGra h2 {margin:28px 0 50px 5px; color: #0076bc; font-family: Flama-bold-italic,Arial,Helvetica,sans-serif; font-size: 20px; float: left; width: 350px;}
.tarjaApare input[type="text"], .tarjaApareGra input[type="text"] {padding: 0 0 0 15px; background: #fff; border: 1px solid #cbccc1; border-radius: 20px; width: 230px; height: 31px; clear: both; color: #999;}
.tarjaApare label, .tarjaApareGra label {color: #0076bc; display: block; font-family: Flama-bold-italic,Arial,Helvetica,sans-serif; font-size: 15px; float: left; line-height: 35px; padding-right: 11px; text-transform: lowercase; margin: 0 0 0 28px;}
.tarjaApare input[type="image"], .tarjaApareGra input[type="image"] {margin: 20px 0 0 135px; }
.nnvoBTN {margin: 18px 0 0 169px; float: left;}
.raquo2 {color: #a4a79f; font-family: arial; font-size: 19px;}
.raquo3 {color: #a4a79f!important; font-family: arial!important; font-size: 19px!important; float: left; margin: -50px 0 0 283px; }
.txt-rad {font-family: arial; display: inline-block; margin-bottom:10px; margin-top: 10px; font-size: 14px;}
.mx-rad {margin-left: 2px!important;}
.mx-btn {margin-left: 104px!important;}
.segbtns {float: right; /*border: 1px solid;*/ width: 475px; margin: 30px 0 0 0;}
.btn-adx {float: left; margin-right: 10px;}
.segBGlista {float: left; /*border: 1px solid; margin:60px 10px 0 0px;*/}
.bgLista {background: url(../images/cate-lista.png); width: 303px; height: 35px; float: left;}
.bgLista ul {margin: 0 0 0 16px;}
.bgLista ul li { float: left; height: 24px; color: #a9a9b1!important; /* width: 51px; */ font-size: 14px; margin: 0 8px 0 0; padding: 10px 14px 0 11px;}
.bgLista ul li:hover {background: #0076bc; color:#fff; cursor: pointer;}
.bgLista ul li:active {color: orange; background: red;}
.segCampoBusca {float: right; /*border: 1px solid red; margin-top:60px;margin-left: 449px;*/ width: 251px; overflow: hidden; }
.divRelatorio span {color: #000000; width: 70px; float: left; /* margin: 0px 5px 0 253px; */ margin: 15px -1px 0 47px; font-family: arial; font-size: 14px;}
.divMostra {width: 320px; height: 25px;/* border: 1px solid #dfdfdb; */ background: #fff; line-height: 8px; margin-left: 7px; margin-top: 14px; /* border: 1px solid; */ float: left; padding: -60px; }
.imageseta { background: url(../images/seta-peq.png) no-repeat;}
.borderM {border-right:1px dotted #959784; padding-right: 10px!important; display: inline-block; /*#666666*/}
.txt-inati {font-size: 12px!important; color: #000000!important; font-weight: normal!important; display: block!important; width: 290px!important;}
.btn_envar {margin: 12px 0 10px 277px;}
.closeN {font-size:40px!important; line-height: .5!important; position: absolute!important;  top: 100px!important; right: 150px!important; color: #a5a895!important; text-shadow: 0 -1px 1px rbga(0,0,0,.6)!important; font-weight: normal!important; cursor: pointer!important;}
.closeCad {z-index: 4444; font-size: 48px!important; line-height: .5!important; position: absolute!important; right: 30px!important; top: 17px; color: #a5a895!important; text-shadow: 0 -1px 1px rbga(0,0,0,.6)!important; font-weight: normal!important; cursor: pointer!important;}
.closeN2 {   font-size:40px!important; line-height: .5!important; position: absolute!important;  top: 56px!important; right: 192px!important; color: #a5a895!important; text-shadow: 0 -1px 1px rbga(0,0,0,.6)!important; font-weight: normal!important; cursor: pointer!important;}
.segUpper ul {}
.segUpper ul li a {color:#7f807a;}
.segUpper ul li ul {}

/*Sub Upper*/
.sobreUpper{list-style:none;  float:left; }
.sobreUpper li{position:relative; float:left; }
.sobreUpper li a{color:#333; text-decoration:none; }
.sobreUpper li a:hover{color:#000000;   }
.sobreUpper li   ul{position:absolute; top:15px; left:0; display:none; }
.sobreUpper li:hover ul, .menu li.over ul{display:block;}
.sobreUpper li ul li {position: absolute; top: 0px; height: 82px; width: 413px; left: -96px; background: url(../images/fundo-sub.png) no-repeat; display: block; z-index: 4444; }

/*Sub Status*/
.DuvUpper {list-style:none;  float:left; }
.DuvUpper li{position:relative; float:left; }
.DuvUpper li a{color:#333; text-decoration:none; }
.DuvUpper li a:hover{color:#000000;   }
.DuvUpper li   ul{position:absolute; top:15px; left:0; display:none; }
.DuvUpper li:hover ul, .menu li.over ul{display:block;}
.DuvUpper li ul li {position: absolute; top: 0px; height: 82px; width: 413px; left: -96px;  display: block; z-index: 4444; }

/*Sub Aos cuidados*/
.DuvCuidados {list-style:none;  float:left; }
.DuvCuidados li{position:relative; float:left; }
.DuvCuidados li a{color:#333; text-decoration:none; }
.DuvCuidados li a:hover{color:#000000;   }
.DuvCuidados li   ul{position:absolute; top:15px; left:0; display:none; }
.DuvCuidados li:hover ul, .menu li.over ul{display:block;}
.DuvCuidados li ul li {position: absolute; top: 0px; height: 82px; width: 413px; left: -96px;  display: block; z-index: 4444; }


.btn-enviarAmigo {}
.EnviarAmigo {/*border:1px solid;*/ width: 400px; background: #fff;}
.EnviarAmigo input[type="text"] {width: 230px; height: 10px; border: 1px solid #cbccc1; border-radius: 15px 15px 15px 15px; margin: 0 0 10px 25px; padding: 10px;}
.EnviarAmigo input[type="image"] {margin: 23px 0 25px 238px;}
.EnviarAmigo label {color: #0076bc; float: left; margin: 10px 0 10px 25px; font-family: flama-medium-webfont; font-size: 15px;}
.segCheckBox {width: 300px; margin-top: -4px; margin-left: -12px;}
.EnviarAmigo h1 {padding: 20px 0 15px 0px; margin:0px 0 10px 20px; color: #0076bc; font-size:20px; font-family: flama-bolditalic-webfont;}
.raquo4 {color: #a4a79f!important; font-family: arial!important; font-size: 19px!important; float: left; margin: -43px 0 0 201px; }
.arrendoFiltra {width:456px; height: 33px; border: 1px solid #cbccc1; border-radius: 20px; margin-top: 5px;}
.arrendoFiltra ul {margin: 0 0 0 16px;}
.arrendoFiltra ul li {font-family:arial; border-left: 1px dotted #cbccc1; float: left; height: 24px; color: #a9a9b1!important;  font-size: 14px; margin: 0 0px 0 0; padding: 10px 7px 0 10px;}
.arrendoFiltra ul li:hover {/*background: #0076bc;*/ color:#fff; cursor: pointer;}
.arrendoFiltra ul li:active {color: orange; background: #0076bc;}
.arreSBorda {border-left:0px!important;}
.classNINput {color: #000000!important; background: transparent; border: 0px;/* border:1px solid;*/ margin-top: -2px; margin-left: -2px; width: 154px;}
.apeInput {margin-left:-4px!important; width: 61px;}
.strongbtn:hover {opacity: 0.6;}
.selecionado { background:#0076bc; color:#000; padding:3px;}

.btnsim {font-family:flama-medium-webfont; margin: 0 5px 0 20px; display:inline-block; width: 67px; height: 31px; color: #4f5048; text-align: center; line-height: 31px; background: #e3e5db; border-radius: 15px; font-size: 15px;}
.btnao {font-family:flama-medium-webfont; display:inline-block; width: 67px; height: 31px; color: #fff; text-align: center; line-height: 31px; background: #106eba; border-radius: 15px; font-size: 15px;}
.btnsim:hover {background: #0076bd; /*transition:all 2s;*/ color:#fff;}
.btnao:hover {background: #e7e8df; /*transition:all 2s;*/ color:#4f5048;}
.divAviso {background: url(../images/aviso.png) no-repeat; width: 129px; height: 98px; margin: 10px 0 0 -42px; position: relative; z-index: 4; left: 96px; top: -1px;}
.mxCheck {margin: 0 0 0 25px;}
.divAviso strong {font-weight: bold; /* padding: 24px 33px 10px 0px; */ display: inline-block; font-family: flama-semibold-italic; color: #666666; font-size: 15px; margin: 17px 42px 10px 0;  }
.divAviso p {text-align: left; width: 92px;  width: 98px; margin: 0 0 0 15px; line-height: 18px; border-top: 1px dotted #959784; font-family: flama-basicitalic;}
.txtAssi {position: absolute; left: 189px; height: 1px; border-left: 1px dotted; border-left: 1px dotted #959784; padding-left: 10px!important; }

.LemailCuidados label { color:#0076bc; float: left; margin:10px 0 10px 25px; font-family: flama-medium-webfont; font-size: 15px;} 
.LemailCuidados input[type="password"] { width:185px; height: 10px; border:1px solid #cbccc1; border-radius: 15px 15px 15px 15px; margin: 0 0 10px 10px; padding:10px;}
.diskS {display: block; padding: 0 0 0 20px;}
.arraPasso {margin-left: 29px!important;}
.segBoxCheck {clear:both; width: 795px; float: right; margin: 45px 0 0 0px;}
.segBoxCheck p {color: #000000; font-size: 15px; font-family: arial; width: 470px; float:left;  height: 70px; }
.segBoxCheck input[type="checkbox"] {border: red solid 1px;}
.tdCheck {font-family: arial; font-size: 15px; color: #000000; margin: 0 17px 0 2px;}
.spacoDuvida {cursor:pointer; margin: 23px 0 0 10px; width: 100px; height: 60px; background: url(../images/duvidas.png) no-repeat; width: 26px; height: 26px; display: inline-block; }
.spacoDuvida:hover {background: red; background: url(../images/duvidas.png) no-repeat 0px -26px; transition:0.3s all;}
.box-duvidas {background: url(../images/box-duvidas.png) no-repeat; width: 313px; height: 98px; margin: -24px 0 0 121px;}
.box-duvidas p {width: 259px; padding: 18px 0 0 23px; line-height: 18px; height: 65px; font-size: 15px; font-family: flama-basicitalic; color: #666666;}
.lmtxt {font-size: 25px; color: transparent!important;}
.tlabel {width: 45px; }
/*abas*/
div#box{display:inline-block; width:800px; height:600px}
div#box p#tabs{display:inline-block; width:438px; height:55px; margin:0 10px 0 0px; padding:0; overflow:hidden; vertical-align:bottom}
div#box p#tabs a{border-bottom:1px solid #cdcec8; display:inline-block; font-size:14px; font-weight:normal; font-family: arial; color:#cdcec8; text-decoration:none; padding:12px 26px 12px 26px; margin:0 -5px 0 0; background-color:#fff; font-size: 20px; border-top: #cdcec8 5px solid; border-left: #e4e4e1 solid 1px;}
div#box p#tabs a:hover{}
div#box p#tabs a.selected{border-bottom:none; background-color:#fff; color:#0076bc; font-size: 20px; border-top: #0076bc 5px solid;}
div#box ul#contents{margin: -2px 0 0 0px; display: inline-block; width: 353px; height: 354px; padding: 0; /*border: 1px solid #ccc;*/}
div#box ul#contents li{display: inline-block; width: 351px; height: 353px; margin: 1px 20px 10px 0px; padding: 0; /*border: 1px solid;*/}
.text-radio {font-family: arial; font-size: 14px}
.inputNcep {width: 127px!important;}
.localizarCep a { border-bottom: 3px solid #e6e7de; font-family:arial; font-size: 15px; color: #54554a;}
.localizarCep a:hover {color:#000000;}
.divsegM {/* overflow: hidden; */ height: 50px; width: 576px; /*border: 1px solid;*/}
.checkboxVisu {display: inline-block; width: 147px; /*border: 1px solid;*/ float: left; margin:48px 0 0 0;}
.checkboxVisu small {font-family: arial; font-size: 14px;}
.divAssinatura input[type="image"] {/* border: 1px solid red; */ position: absolute; top: 158px; left: 324px;}

