body {
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

#logo {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 320px; /*639*/
	top: 11px; /*20*/
}

#user {
	width: 130px;
	height: 130px;
	position: absolute;
	left: 120px;
	top: 20px;
}

#login {
	width: 400px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

#login h1 {
	background: #3C3C3C;
	width: 400px;
	height: 70px;
	position: absolute;
	left: 480px;
	top: 130px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#login h1 {
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	color: #fff;
}

form {
	background: #efefef;
	width: 391px;
	height: 390px;
	display: block;
	position: absolute;
	top: 220px;
	left: 480px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

input[type="text"] {
	width: 316px;
	height: 18px;
	background: #ffffff;
	margin-left: 20px;
	margin-top: 160px;
}

input[type="password"] {
	width: 316px;
	height: 18px;
	background: #ffffff;
	margin-left: 20px;
	margin-top: 2px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

input[type="text"],input[type="password"] {
	border: 2px solid #ccc;
	padding: 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #999999;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

input[type="submit"] {
	margin-top: 10px;
	margin-left: 15px;
	width: 360px;
	height: 50px;
	background: #3C3C3C;
	border: 0;
	padding: 1%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	text-align: center;
	color: #fff;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

input[type="submit"]:hover {
	background: #0278cb;
}

#checkbox {
	position: absolute;
	left: 30px;
	top: 335px;
}

label {
	font-size: 15px;
	text-align: center;
	font-weight: 300;
	color: #999999;
}